body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #000;
    color: #fff;
    font-family: monospace;
    overflow: hidden;
    background-image: url('https://github.com/od8m/your-repo/raw/main/TheEnd.png'); /* Correct URL */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 0 20px;
    position: relative;
}

.text-content {
    z-index: 1;
    text-align: center;
}

.image-container {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
}

.anime-girl {
    max-height: 80vh;
    object-fit: contain;
}

#ascii-art {
    font-size: 0.9em;
    white-space: pre;
    text-align: center;
    margin-bottom: 20px;
}

.button {
    background-color: transparent;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    transition: color 0.3s;
    text-decoration: none;
    display: block;
    font-size: 1em;
    font-family: 'Roboto Mono', monospace;
    font-weight: 300;
    text-align: center;
}

#telegram-button:hover {
    color: #0088cc;
}

#twitter-button:hover {
    color: #1DA1F2;
}

#github-button:hover {
    color: #6e5494;
}

#music-container {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 20px;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    z-index: 3;
}

#music-content {
    display: inline-block;
    position: relative;
    width: 300px;
    overflow: hidden;
}

#play-button, #now-playing {
    display: inline-block;
    padding: 0 20px;
    animation: scroll-text 5s linear infinite; /* Fast scroll */
}

#music-border-left, #music-border-right {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 20px;
    background-color: #000;
    z-index: 1;
}

#music-border-left {
    left: 0;
}

#music-border-right {
    right: 0;
}

@keyframes scroll-text {
    0% { transform: translateX(100%); }
    100% { transform: translateX(-100%); }
}

/* Hide image on mobile devices */
@media (max-width: 767px) {
    .image-container {
        display: none;
    }
}
